#Rename this file to .env or create envionment variables

SECRET_KEY='django-key'


## database
DB_NAME='db_name'
DB_USER='user_db'
DB_PASSWORD='password'
DB_HOST='localhost'
DB_PORT='5432'


## django-allauth
# goggle
AUTH_GOOGLE_CLIENT_ID='1234.apps.googleusercontent.com'
AUTH_GOOGLE_SECRET='secret-Google'
AUTH_GOOGLE_KEY=''


## email smtp
EMAIL_USE_TLS=True
#EMAIL_USE_SSL=False
EMAIL_HOST='smtp.gmail.com'
EMAIL_HOST_USER='correo@gmail.com'
EMAIL_HOST_PASSWORD='Pass-insecure'
EMAIL_PORT=587
EMAIL_FROM='correo@gmail.com'
